ul li{
    list-style: none;
    padding: 10px;
    display: inline;
}
header {
    position: relative;
    top: 20px;
    text-align: center;
    padding-bottom: 25px;
}

img[src^="images/"] {
    border: 1px solid black;
}